<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b687be">  <td>22/04/29 13:08:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Test010_loginPage()[pri:0, instance:Reingames.MagicLand.Login@247310d0]">Test010_loginPage</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>22/04/29 13:08:07</td>   <td>3307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Test020_missions()[pri:0, instance:Reingames.MagicLand.Login@247310d0]">Test020_missions</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>22/04/29 13:08:14</td>   <td>9858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Test030_lobbyMenu()[pri:0, instance:Reingames.MagicLand.Login@247310d0]">Test030_lobbyMenu</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>22/04/29 13:08:22</td>   <td>18149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Test040_AddCash()[pri:0, instance:Reingames.MagicLand.Login@247310d0]">Test040_AddCash</td> 
  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>22/04/29 13:07:26</td>   <td>-38158</td> <td title="&gt;&gt;Login.launchBrowser()[pri:0, instance:Reingames.MagicLand.Login@247310d0]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1795816257</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>22/04/29 13:07:51</td>   <td>-12909</td> <td>&nbsp;</td><td title="&gt;&gt;Login.login()[pri:0, instance:Reingames.MagicLand.Login@247310d0]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1795816257</td>   <td></td> </tr>
</table>
